server:
  port: 9091

spring:
  application:
    name: task-service
  datasource:
    url: jdbc:mysql://mysql:3306/todo
    username: root
    password: 271996
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        jdbc.time_zone: UTC

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true
